

html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .content {
  flex: 1 1 auto;
}

.box .footer {
  flex: 0 1 40px;
  position: relative;
  background-color: #444444;
}

#background {
	background-color: #666666;
	height: 100%;
}

#background-black {
	background-color: #000000;
}

#login-main {
	background-color: #444444;
	border-top: 1px solid #000;
}

.background-grey {
	background-color: #444444;
}

.centeralign {
	text-align:center;
}

.login-input {
	margin-top: 10;
	margin-bottom: 10;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.rightborder {
	border-right: 1px solid #000;
}

.leftborder {
	border-left: 1px solid #000;
}

.bottomborder {
	border-bottom: 1px solid #000;
}

.bottomborder-grey {
	border-bottom: 1px solid #999999;
}

.topborder {
	border-top: 1px solid #000;
}

.border-topsection {
	border-top: solid #999999;
	border-left: solid #999999;
	border-right: solid #999999;
	border-width: 2px;
}

.border-middlesection {
        border-left: solid #999999;
        border-right: solid #999999;
        border-width: 2px;
}

.border-bottomsection {
        border-bottom: solid #999999;
        border-left: solid #999999;
        border-right: solid #999999;
        border-width: 2px;
}

.vertically-center-children {
	padding: 5% 0;
	background-color: black;

}


h1, h2, h3, h4, h5, p, input, label, span {
	color: white;
	
}

.hidinglink {
	color: #BBBBBB;
}

.inputbox {
	border: 2px solid #fff;
	background-color: transparent;
	color: white;
	
}

.inputbox-alt {
	border: 2px solid #fff;
	background-color: #666666;
	color: white;
	
}

.include-spacers {
	margin-top: 30; 
	margin-bottom: 0;
}

.sidebar {
	background-color: #444444;
	position: relative;
}

@media (min-width: 768px) {
  .equalheight {
    display: flex;
    flex-wrap: wrap;
  }
}

input[type="radio"]:checked+span { font-weight: bold; }

div.vertically-align-children {
	display:flex;
    align-items:center;
}

label {
	display: block;
	margin-top: 10;
}

.message-body {
	color:white;
}

.message-author {
	margin-right: 10;
	font-weight: bold;
}

.message-date {
	color: #CCCCCC;
}

.message-header, .message-body, .message-container {
	margin-bottom: 5;
	margin-top: 5;
}

.black {
	color: black;
}

.align-bottom {
	position: absolute;
    bottom: 0;
}

.messagebox {
	resize: none;
	border-radius: 0px;
}

.userinfo {
	left: 5;
	right: 5;
}

.message-window {
	position: relative;
}

.fixed-bottom {
	position: fixed;
}

.btn-link {
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#BBBBBB;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}

.btn-link:hover {
	color: #888888;
}
