{{template "header.html"}}
<body>
	<div class="container-fluid box" id="background">
		<!--<div class="page-header">
		<h1>Golang Messenger</h1>
		</div>-->
			<div class="row equalheight header">
				<div class="col-lg-3 col-md-3 col-sm-4 hidden-xs rightborder vertically-align-children bottomborder">
					<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs"> 
                        
						<img width="85" height="85" class="pull-left vcenter" src="/assets/golang_gopher.png"/>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 hidden-xs">
						<h3 class="vcenter text-center">Golang Messenger</h3>
					</div>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 bottomborder">
					<div class="caption">
						<h2>{{.friendName}}</h2>
						<form id="removeFriendForm" action="/removeFriend" method="POST">
							<!--<a href="/removeFriend"><p class="hidinglink"><u>Remove Friend</u></p></a>-->
							<button type="submit" name="removeFriendButton" value="{{.friendID}}" class="btn-link">Remove Friend</button>
						</form>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs include-spacers bottomborder">
					<div class="form-group has-feedback">
						<input class="form-control inputbox" type="text" placeholder="Search">
						<span class="glyphicon glyphicon-search form-control-feedback"></span>
					</div>
				</div>
			</div>
			<div class="row content equalheight" >
				<div class="col-lg-3 col-md-3 col-sm-4 hidden-xs rightborder sidebar">
					<div>
						<h2>Contacts</h2>
						<form>
							<div class="radio">
                                {{$friend_id := .friendID}}
                                {{ range .payload }}
                                <label>
									<input type="radio" name="optradio" {{if eq .UserID $friend_id}} checked="checked" {{end}} onchange='window.location = "/conversationpage/{{.UserID}}"'>
									<span>{{.FirstName}} {{.LastName}}</span>
								</label>
                                {{end}}
                        
								<!-- <label>
									<input type="radio" name="optradio" selected><span>Firstname Lastname</span>
								</label>
								<label>
									<input type="radio" name="optradio"><span>FirstName LastName</span>
								</label>
								<label>
									<input type="radio" name="optradio"><span>FirstName LastName</span>
								</label>
								<label>
									<input type="radio" name="optradio"><span>FirstName LastName</span>
								</label>
								<label>
									<input type="radio" name="optradio"><span>FirstName LastName</span>
								</label> -->
							</div>
						</form>
						<div class="form-group has-feedback">
							 <input class="form-control inputbox" type="text" placeholder="Add New Contact">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span> 
                            
						</div> 
					</div>
					<!--<div class="row equalheight vertically-align-children align-bottom userinfo">
						<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
							<h5>Yourfirst Yourlast</h5>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
							<button type="button" class="pull-right"><span class="glyphicon glyphicon-log-out black"></span></button>
							<button type="button" class="pull-right"><span class="glyphicon glyphicon-cog black"></span></button>
							<button type="button" class="pull-right"><span class="glyphicon glyphicon-envelope black"></span></button>
							
						</div>
					</div>-->
				</div>
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" style="background-color: #666666;">
					<div class="message-window">
                        {{range .payload3 }}
                        <div class="message-container bottomborder-grey">
                                <div class="message-header">
                                    <span class="message-author">{{.FirstName}} {{.LastName}}</span>
                                    <span class="message-date" id="message-date">{{.TimeSent}}</span>
                                </div>
                                <div class="message-body">
                                    {{.MessageBody}}
                                </div>
                            </div>
                        {{end}}
					</div>                    
                    <!--<div class="row">
						<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12" >
							<textarea class="form-control custom-control inputbox messagebox" rows="2" id="comment" placeholder="Write your message here..."></textarea>
							<span class="input-group-addon btn btn-primary">Send Message</span>
						</div>	

					</div>-->
				</div> 
			</div>
			<div class="row footer equalheight">
				<div class="col-lg-3 col-md-3 col-sm-4 hidden-xs rightborder sidebar vertically-align-children topborder" style="position:relative; bottom: 0; left: 0;">
				
							<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs ">
								<h5>{{.payload2}}</h5>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
								<form action="/logout" method="POST">
									<button type="submit" class="pull-right"><span class="glyphicon glyphicon-log-out black"></span></button>
								</form>
								<!-- <button type="button" class="pull-right"><span class="glyphicon glyphicon-cog black"></span></button> -->
								<form action="/friends" method="GET">
									<button type="submit" class="pull-right"><span class="glyphicon glyphicon-user black"></span></button>
								</form>
							</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" style="position:relative; bottom: 0; right: 0; background-color: #666666;">
					<!--<div class="row">-->
						<div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                            <form name="sendMessage" action="/sendMessage" method="POST" style="position: inherit; display: table;">

                                <input name="senderID" type="senderID" class="form-control inputbox-alt login-input" id="senderID" placeholder="senderID" style='display: none;' value="{{.userID}}">
                                <input name="recipientID" type="recipientID" class="form-control inputbox-alt login-input" id="recipientID" placeholder="recipientID" style='display: none;' value="{{.friendID}}">      
                                            
                                <textarea class="form-control custom-control inputbox messagebox" rows="2" id="messageBody" placeholder="Write your message here..." name="messageBody" type="messageBody" style="display: table-cell;"></textarea>
                                <span onclick="sendMessage.submit()" class="input-group-addon btn btn-primary" style="display: table-cell;">Send Message</span>
                            </form>
                            
                            <!-- <form action="/login" method="POST">	
                                <input name="email" type="email" class="form-control inputbox-alt login-input" id="email" placeholder="Email Address">
                                <input name="password" type="password" class="form-control inputbox-alt login-input" id="password" placeholder="Password">
                                <button type="submit" class="btn btn-block login-input">Login</button> 
				            </form> -->
						</div>

					<!--</div>-->
				</div>	
			</div>
    </div>
    <script src="../assets/socket.js"></script>
<!-- <script>
var date = new Date();

document.getElementById("message-date").innerHTML = (date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear();
</script> -->

{{ template "footer.html"}}
