{{template "header.html"}}
<body class="vertically-center-children">
	<div class="container-fluid" id="background-black" >
		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 border-topsection">
				<div class="row vertically-align-children" style="background-color:#333333">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
								<img width="85" height="85" class="pull-left vcenter" src="/assets/golang_gopher.png"/>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
								<h3 class="vcenter text-center">Golang Messenger</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 bottomborder-grey border-middlesection" id="login-main" >
				<!-- <form action="/login" method="POST">	
					<input name="email" type="email" class="form-control inputbox-alt login-input" id="email" placeholder="Email Address">
					<input name="password" type="password" class="form-control inputbox-alt login-input" id="password" placeholder="Password">
					<button type="submit" class="btn btn-block login-input">Login</button> 
				</form>
				<div id="error" style='display: none;'>
    				{{.payload}}
    			</div>
				<div class="form-check" style="text-align: center">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" value="">
						Remember Information
					</label>
				</div>
				<div class="centeralign">
					<a href="#"><span>Forgot Password? Click Here</span></a>
                </div> -->
                
                <h5>Send Friendship Request</h5>
                <form action="/sendFriendRequest" method="POST">
                    <select name="userToSendTo">
                        {{range .notContactsList}}
                        <option value="{{.UserID}}">{{.FirstName}} {{.LastName}} ({{.Email}})</option>
                        {{end}}
                    </select>
                    <button type="submit">Send Request</button>
                </form>
                
                <h5>Pending Friendship Requests To You</h5>
                <!-- <ul>
                    {{range .requestsToList}}
                    <li>{{.FirstName}} {{.LastName}} ({{.Email}})</li>
                    {{end}}
                </ul> -->
                {{range .requestsToList}}
                <form action="/respondToFriendRequest" method="POST">
                     <input name="friendID" value="{{.UserID}}" style="display:none;"> 
                      </input>
                     <span style="color: #CCCCCC;">{{.FirstName}} {{.LastName}} ({{.Email}})</span>
                     <button type="submit" value="Confirm" name="RequestResponse">Confirm</button>
                     <button type="submit" value="Deny" name="RequestResponse">Deny</button>
                </form>
                {{end}}
                
                <h5>Pending Friendship Requests From You</h5>
                <ul>
                    {{range .requestsFromList}}
                    <li style="color: #CCCCCC;">{{.FirstName}} {{.LastName}} ({{.Email}})</li>
                    {{end}}
                </ul>

                <form action="/logout" method="POST">
					<button type="submit" class="pull-right"><span class="glyphicon glyphicon-log-out black"></span></button>
				</form>
                <form action="/mainpage" method="GET">
                    <button type="submit" class="pull-right"><span class="glyphicon glyphicon-home black"></span></button>
                </form>

			</div>
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
		</div>
	</div>
	{{ template "footer.html"}}
