<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- use latest rendering enging for IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- Set page to device width and set zoom level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    
    <link rel='shortcut icon' type='image/x-icon' href='/assets/favicon.ico'/>
	
	<title>{{.title}}</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/main.css">
</head>