{{template "header.html"}}
<body class="vertically-center-children">
	<div class="container-fluid" id="background-black" >
		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 border-topsection">
				<div class="row vertically-align-children" style="background-color:#333333">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
								<img width="85" height="85" class="pull-left vcenter" src="/assets/golang_gopher.png"/>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
								<h3 class="vcenter text-center">Golang Messenger</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 bottomborder-grey border-middlesection" id="login-main" >
				<form action="/login" method="POST">	
					<input name="email" type="email" class="form-control inputbox-alt login-input" id="email" placeholder="Email Address">
					<input name="password" type="password" class="form-control inputbox-alt login-input" id="password" placeholder="Password">
					<button type="submit" class="btn btn-block login-input">Login</button> 
				</form>
				<div id="error" style='display: none;'>
    				{{.payload}}
    			</div>
				<div class="form-check" style="text-align: center">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" value="">
						Remember Information
					</label>
				</div>
				<div class="centeralign">
					<a href="#"><span>Forgot Password? Click Here</span></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
		</div>
		<!--<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 centeralign background-grey">
				<a href="#"><span>Forgot Password? Click Here</span></a>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
		</div>-->
		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 centeralign background-grey border-bottomsection">
				<a href="/register"><span>New User? Register Here</span></a>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
		</div>
	</div>
	{{ template "footer.html"}}
