{{template "header.html"}}
<body class="vertically-center-children">
	<div class="container-fluid" id="background-black">
		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 border-topsection">
				<div class="row vertically-align-children" style="background-color:#333333">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
								<img width="85" height="85" class="pull-left vcenter" src="/assets/golang_gopher.png"/>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
								<h3 class="vcenter text-center">Golang Messenger</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 bottomborder-grey border-middlesection" id="login-main" >
				<form action="/register/registerUser" method="POST">
					<input name="first_name" type="first_name" class="form-control inputbox-alt login-input" id="first_name" placeholder="First Name">
				
					<input name="last_name" type="last_name" class="form-control inputbox-alt login-input" id="last_name" placeholder="Last Name">
				
					<input name="email" type="email" class="form-control inputbox-alt login-input" id="email" placeholder="Email Address">	
					
					<input name="password" type="password" class="form-control inputbox-alt login-input" id="password" placeholder="Password">
					
					<input type="password" class="form-control inputbox-alt login-input" id="confirm_password" placeholder="Confirm Password">
					
					<button type="submit" class="btn btn-block login-input" onClick="return areFieldsEmpty()">Register</button> 
				</form>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
		</div>
		<!--<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 centeralign background-grey">
				<a href="#"><span>Forgot Password? Click Here</span></a>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
		</div>-->
		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 centeralign background-grey border-bottomsection">
				<a href="/"><span>Already a Member? Login Here.</span></a>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">
			</div>
		</div>

		<script>
			var password = document.getElementById("password")
			var confirm_password = document.getElementById("confirm_password");

			function validatePassword(){
			if(password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Passwords Don't Match");
			} else {
				confirm_password.setCustomValidity('');
			}
			}

			password.onchange = validatePassword;
			confirm_password.onkeyup = validatePassword;
		</script>

		<script>
			function areFieldsEmpty() {
				var firstName, lastName, email, password;
				firstName = document.getElementById("first_name").value;
				lastName = document.getElementById("lastName_name").value;
				email = document.getElementById("email").value;
				if (firstName == "" || lastName == "" || email == "") {
					alert("Please ensure all fields are filled");
					return false;
				};
			}
		</script>

	</div>
	{{ template "footer.html"}}
